@import "tailwindcss";

/* RAW CSS only below */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f7ff;
  color: #171717;
  font-family: system-ui, sans-serif;
}

.bar {
  background: #007bff;
  border-radius: 3px;
  border: 1px solid #004aad;
}
